body{
    margin: 0;
}
a {
    color: blue;
    text-decoration: none; /* 밑줄 제거 */
}
h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}
ol{ /* 모든 ol태그중에 아이디가 grid인 곳 */
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;        
}
#grid ol{
    padding-left: 33px;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#article{ /* grid안에 있으니 #grid #article로 해도 무방. */
    padding-left: 25px;
    padding-right: 25px;
}
@media(max-width:800px){
    #grid{
        display: block;
    }
    ol{
        border-right:none;
    }
    h1{
        border-bottom: none;
    }
}